<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/admin.css">
    <title>Admin</title>
</head>
<body>
    <nav>
        <a href="#">inicio</a>
        <a href="#">users</a>
        <a href="#">settings</a>
        <a href="login.html" id="salir">salir</a>
    </nav>
    <section>
        <div class="box">
            <div class="header-table">
                <p>#</p>
                <p>user</p>
                <p>estado</p>
                <p></p>
            </div>
            <div class="body-table">
                <div class="row">
                    <p>1</p>
                    <p>Juan</p>
                    <p>activo</p>
                    <p><button>Eliminar</button></p>
                </div>
                <div class="row">
                    <p>2</p>
                    <p>Pepe</p>
                    <p>activo</p>
                    <p><button>Eliminar</button></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>