<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PruebaConceptosPHP/views/css/admin.css">
    <script src="/PruebaConceptosPHP/views/js/admin.js" defer></script>
    <title>Admin</title>
</head>

<body>
    <nav>
        <a href="#">inicio</a>
        <a href="#" onclick="openModal('create')">add user</a>
        <a href="#">settings</a>
        <a href="#" onclick="logout()">salir</a>
    </nav>
    <section>
        <div class="box">
            <div class="header-table">
                <p>id</p>
                <p>user</p>
                <p>status</p>
                <p></p>
            </div>
            <div class="body-table" id="body-table">
                <div class="row">
                    <p>1</p>
                    <p>Juan</p>
                    <p>active</p>
                    <div class="buttons">
                        <button onclick="openModal('update')">Edit</button>
                        <button onclick="openModal('delete')">Delete</button>
                    </div>
                </div>
                <div class="row">
                    <p>2</p>
                    <p>Pepe</p>
                    <p>inactive</p>
                    <div class="buttons">
                        <button onclick="openModal('update')">Edit</button>
                        <button onclick="openModal('delete')">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal-container" id="modal-container">
        <form class="modal" id="modal-create" onsubmit="created(event)">
            <button type="button" class="close-modal" onclick="closeModal('create')">X</button>
            <div class="box-input">
                <input type="text" id="createUsername" name="username" required>
                <label for="username">User Name</label>
            </div>
            <div class="box-input">
                <input type="text" id="createPassword" name="password" required>
                <label for="password">Password</label>
            </div>
            <button>Create</button>
        </form>
        <form class="modal" id="modal-update" onsubmit="updated(event)">
            <button type="button" class="close-modal" onclick="closeModal('update')">X</button>
            <div class="box-input">
                <input type="text" id="updateUsername" name="username" required>
                <label for="username">User Name</label>
            </div>
            <div class="box-input">
                <input type="text" id="updatePassword" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="check-container">
                <input type="checkbox" id="check">
                <p id="check-label">active</p>
            </div>
            <button>Update</button>
        </form>
        <div class="modal" id="modal-delete">
            <h1>Are you sure?</h1>
            <div class="buttons">
                <button onclick="deleted()">Delete</button>
                <button onclick="closeModal('delete')">Cancel</button>
            </div>
        </div>
    </div>
</body>

</html>