<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PruebaConceptosPHP/views/css/user.css">
    <script src="/PruebaConceptosPHP/views/js/user.js" defer></script>
    <title>User</title>
</head>
<body>
    <nav>
        <a href="#">inicio</a>
        <a href="#" onclick="settings()">settings</a>
        <a href="login.html" id="salir">salir</a>
    </nav>
    <section>
        <div class="box">
            <img src="/PruebaConceptosPHP/views/img/default-user-image.png" alt="">
            <div class="box-input">
                <input type="text" placeholder="username" required disabled>
            </div>
            <div class="box-input">
                <input type="text" placeholder="password" required disabled>
            </div>
            <div class="box-buttons">
                <button disabled onclick="canUpdate()">Update</button>
                <button disabled>Delete</button>
            </div>
        </div>
    </section>
</body>
</html>